:root {
    --color-1: #FEF8EC;
    --color-2: #555358;
    --color-3: #2E282A;
    --color-4: #E55934;
    --color-5: #FA7921;

    --title-text: 'Lato';
    --main-text: 'Nunito';

    --main-text-font-size: 20px;
    --additional-text-font-size: 15px;

    --main-text-font-size-adapted: 12px;

    /* --screen-height: var(--screen-x); */
}
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 5px var(--color-2);
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--color-4);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-5);
}
body {
    color: var(--color-3);
    text-align: center;
    background-color: var(--color-1);
    display: block;
    min-height: 100vh;
    margin: 0;

    text-align:center;
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height:100vh;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
    text-align: left;
    background-color: var(--color-1);

    display: flex;
    flex-direction: row;
    
    align-items: center;

    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--color-3);
}

#btn-home{
    position: absolute;
    left: 40px;
    background: none;
	border: none;
    width: 80px;
    height: 25px;
}

#logo{width: 80px;
    height: 25px;
}

#btn-log-in{
    position: absolute;
    right: 155px;
}

#btn-sign-up{
    position: absolute;
    right: 40px;
}

.button{
    background-color: transparent;
    color: var(--color-3);

    font-family: var(--main-text);
    font-size: var(--main-text-font-size);
    letter-spacing: -0.075em;
    text-transform: uppercase;

    border: none;
    border-radius: 60px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
}

.button:hover{
    color: var(--color-1);
    background-color: var(--color-4);
    letter-spacing: 0em;
}

.button:active {
    color: var(--color-1);
    background-color: var(--color-5); 
}

#search-categories-filter{
    position: sticky;
    top:50px;
    width: 100%;

    padding-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-1);
    z-index: 998;
}

#title{
    font-family: var(--title-text);
    color: var(--color-3);
    text-transform: uppercase;
    letter-spacing: 1em;
    padding-left: 1em;
    margin-bottom:0;
    margin-top:50px;
    font-size: 100px;
}

#input-line{
    width: 900px;
    height: 60px;

    background: var(--color-1);
    border: 1px solid var(--color-4);
    border-radius: 60px;

    padding-left: 25px;
    padding-right: 25px;
    font-size: var(--main-text-font-size);
}

#input-line{
    width: 900px;
    height: 60px;

    background: var(--color-1);
    border: 1px solid var(--color-4);
    border-radius: 60px;

    padding-left: 25px;
    padding-right: 25px;
    font-size: var(--main-text-font-size);
}

#categories-filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.btn-category{
    padding: 10px;
    color: var(--color-2);
    background-color: transparent;
    font-family: var(--main-text);
    text-transform: uppercase;
    font-size: var(--main-text-font-size);
    letter-spacing: -0.075em;
    border: none;
}

.btn-category:hover, .btn-category:active{
    color: var(--color-3);
    letter-spacing: 0.05em;
}

#btn-filter{
    background: transparent;
    border: none;
}

#main-part{
    height: auto;
    min-height: 80vh;
    background-color: var(--color-1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gray-screen{
    position: fixed;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--color-2);
    z-index: 1000;
    opacity: 0.5;
    display: none;
}

.popup{
    position: fixed;
    top: 35%;
    width: 400px;
    height: auto;
    background-color: var(--color-1);
    color: var(--color-3);
    font-family: var(--main-text);
    text-transform: uppercase;
    font-size: var(--main-text-font-size);
    padding: 20px;

    /* display: flex;
    flex-direction: column;
    justify-content: center; */

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    z-index: 1001;
    display: none;
}

input[type='range']{
    -webkit-appearance: none;
    background-color: var(--color-5);
    border-radius: 50px;
    height: 5px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    box-shadow: 0px 4.42079px 8.84158px rgba(0, 0, 0, 0.1);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: var(--color-5);
    cursor: pointer;
} 

input[type=range]:focus::-webkit-slider-thumb {
    background: var(--color-4);
}

/* #btn-apply, #btn-cancel{
} */

#content{
    font-size: 50px;
}

#footer{
    position: relative;
    height: 20vh;
    width: 100%;
    background-color: var(--color-3);
}

/* #region responsive design */
@media only screen and (max-width: 1000px){
    #title{
        margin-top: 60px;
        font-size: 40px;
    }

    #input-line{
        width: 350px;
        height: 30px;
    
        padding-left: 20px;
        padding-right: 20px;
    }

    #search-categories-filter{    
        padding-top: 5px;
    }

    .btn-category, #input-line{
        font-size: var(--main-text-font-size-adapted);
    }
}
/* #endregion */


/* #region post page */
#main-part-post-page{
    height: 100%;
    min-height: 80vh;
    background-color: var(--color-1);
    display: flex;
    flex-direction: row;
}

#post-container{
    margin-top:90px;
    width:90%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: flex-start;

    /* when comments are opened */
    width: 70%;
}
#post-image{
    /* position: absolute;
    left: 0; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    background-color: red;
    width: 100%;
    height: 300px;
}
#post-image img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

#comments-container{
    position: fixed;
    top: 90px;
    right: 0;
    width: 10%;
    height: 100%;
    background-color: var(--color-1);
    border-left-style: solid;
    border-width: 1px;
    border-color: var(--color-3);

    display: flex;
    /* align-items: center; */
    /* justify-content: center; */

    /* when comments are opened */
    width: 30%;
}
#comments-typography{
    color: var(--color-3);
    font-family: var(--title-text);
    font-weight: 400;
    font-size: 140px;
    line-height: 102.91%;

    letter-spacing: -0.22em;
    text-transform: uppercase;
    margin-bottom:25vh;
    transform: rotate(-90deg);

    /* when comments are opened */
    display: none;
}

.comment-container{
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    text-align: right;
}
#opened-comments{
    width: 100%;
    padding: 20px;
    height: auto;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
#btn-comment-creator{
    /* position: absolute;
    right: calc(20% + 128px); */
    margin-left: 30px;
    border: none;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--color-3);
    font-size: var(--main-text-font-size);
    font-family: var(--main-text);
    text-transform: uppercase;

    letter-spacing: -0.075em;
}
.comment{
    margin: 5px;
    width: auto;
    background-color: var(--color-5);
    min-height: 57px;

    border-radius: 60px;

    color: var(--color-1);
    font-family: var(--main-text);
    font-size: var(--main-text-font-size);
    text-align: left;

    display: flex;
    align-items: center;
}
.comment-text{
    width: auto;
    padding: 10px;
    padding-right: 30px;
    padding-left: 30px;
}
.comment-created-at{
    margin:0;
    margin-right: 50px;
    font-family: var(--main-text);
    font-size: var(--additional-text-font-size);
    text-transform: uppercase;
}

#post{
    height: auto;
    width: 100%;

    font-size: 50px;
    display: flex;
    flex-direction: column;
    color: var(--color-3);
}

#post-title{
    width: auto;
    height: auto;
    padding-left: 20%;
    padding-right: 20%;
    text-align: left;
    font-size: 80px;

    font-family: var(--title-text);
}
#post-addiional-information{
    padding-left: 20%;
    padding-right: 20%;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--color-3);
    font-size: var(--main-text-font-size);
    font-family: var(--main-text);
    text-transform: uppercase;
}
#btn-category-icon{
    background-color: var(--color-4);
    color: var(--color-1);

    font-family: var(--main-text);
    font-size: var(--main-text-font-size);
    letter-spacing: -0.075em;
    text-transform: uppercase;

    border: none;
    border-radius: 60px;

    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
}
#btn-category-icon:hover{
    background-color: var(--color-5);
}
#btn-post-creator{
    position: absolute;
    left: calc(20% + 128px);
    border: none;
    background-color: transparent;

    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--color-3);
    font-size: var(--main-text-font-size);
    font-family: var(--main-text);
    text-transform: uppercase;

    letter-spacing: -0.075em;
}
.btn-user:hover{
    color: var(--color-4);
    /* font-size: larger; */
}
#post-creator{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 37px;
    height: 37px;
    border-radius: 50%;
}
#post-creator img{
    max-width: 53px;
    max-height: 53px;
}
.btn-user:hover .user-icon{
    width: 45px;
    height: 45px;
}
#span-created-at{
    position: absolute;
    left: calc(20% + 138px + 157px + 20px);
    margin: 0;
}
#post-text{
    width: auto;
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: auto;
    text-align: left;
    font-size: var(--main-text-font-size);
    font-family: var(--main-text);
}

#btn-comments{
    padding: 0;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: var(--color-1);

    border-style: none;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: var(--color-3);

    display: flex;
    flex-direction: row;
    align-items: center;

    z-index: 997;
}

#btn-comments:hover{
    background-color: var(--color-4);
    color: var(--color-1);
}

#btn-comments:active{
    background-color: var(--color-5);
    color: var(--color-1);
}

#span-comments{
    position: absolute;
    left: 40px;
    font-family: var(--main-text);
    font-size: var(--main-text-font-size);
    text-transform: uppercase;
}

#icon-plus{
    position: absolute;
    right: 80px;
}
/* #endregion */

/* #region profile page */
#main-part-profile-page{
    height: auto;
    min-height: calc(80vh - 50px);
    background-color: var(--color-1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
#user-information{
    background-color: var(--color-2);
    min-height: 300px;
    width: 100%;
    margin: 170px;
    margin-bottom: 0;
    /* margin-left: 170px;
    margin-right: 170px; */
    border-radius: 30px;

    color: var(--color-1);
}
#user-basic{
    position: absolute;
    top:calc(50px + 60px);
    left: calc(170px + 10%);

    display: flex;
    flex-direction: column;
    justify-content: center;
}
#username{
    font-size: 36px;
    font-family: var(--main-text);
    padding-top: 20px;
}
.user-image{
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    width: 210px;
    height: 210px;
    border-radius: 50%;
}
.user-image img{
    max-height: 260px;
    max-width: 260px;
}
#user-additional{
    margin: 30px;
    margin-left: calc(25% + 210px);
    width: calc(75% - 250px);
    height: auto;
    text-align: left;

    font-family: var(--main-text);
    font-size: var(--main-text-font-size);
}
#user-additional p{
    text-transform: uppercase;
}
#user-posts{
    background-color: blue;
    /* min-height: 300px; */
    width: 100%;
    margin: 40px;
    margin-left: 170px;
    margin-right: 170px;
    height: 1000px;
}
/* #endregion */